!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    %meta{:content => "Lightweight grid with the power of flexbox", :name => "description"}

    %title= current_page.data.title || "Flex Grid Lite"

    //Rajdhani, Share Tech Mono, Lato
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:400,400i|Rajdhani:400,500|Share+Tech+Mono", :rel => "stylesheet"}




    -# //Font Awesome
    -# %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}
    -# //Google Material Font Icon
    -# -# %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet", :type => "text/css"}

    //Flex Grid Lite
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}


    =stylesheet_link_tag :"8gauge"
    =javascript_include_tag :all


  %body{:class => page_classes}
    = yield
