$dark-1:#283A45;
$dark-2:#364C59;
$dark-3:#3E5766;

$blue-1:#3A7DA7;
$blue-2:#4CA3D9;
$blue-3:#99D8FF;

$gray-1:#ABBBC5;
$gray-2:#D7E2E8;

$orange-1:#C88E2C;
$orange-2:#C7B099;

$code-blue-1:#629FCA;
$code-green-1:#69c3c0;

.type-orange-1 {
  color:$orange-1;
}
