//Styleguide
//---------------------------------------------
.devnote {
  color:red;
  font-size:18px;
  @extend .mono;
}

//Layout
body {
  background-color: $dark-2;
  color:$gray-1;
}
.page {

}
.section-content {
  max-width: 960px;
}
p {
  max-width:600px;
}

//Type
h1,h2,h3,h4 {
  font-family: 'Rajdhani', sans-serif;
  color:$gray-2;
}
body {
  font-family: 'Lato', sans-serif;
}
.mono {
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size:48px;
  line-height: 48px;
  letter-spacing: -.5px;
}
h2 {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -.5px;
}

//Grid Show
.sg-box {
  background-color: $dark-1;
  width: 100%;
  min-height: 40px;
  border-radius: 2px;
  padding: 8px;
  font-size:16px;
  line-height: 32px;
  //outline:solid 1px orange;
}
.sg-box-outline {
  border-top:solid 1px $orange-1;
  border-left:solid 1px $orange-1;
  border-right:solid 1px $orange-1;
  height: $base-unit;
  margin-bottom: $base-unit;
}
.sg-grid .col {
  position: relative;
  min-height: 40px;
  padding:8px;
  font-size:16px;
  line-height: 32px;
  @extend .mono;
  &:after {
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    content:"";
    background-color: $dark-1;
    width: calc(100% - 16px);
    height: 100%;
    border-radius: 2px;
    //border:solid 1px $dark-3;
    margin: 0 8px;

  }
}


//Code Area
pre.code-display {
  margin-top:48px;
  background-color:$dark-3;
  text-align: left;
  padding:16px;
  code {
    @extend .mono;
    font-size:16px;
  }
}
